<!DOCTYPE html>
<html lang="en">
<head>
  <title>LMTech Insight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .switch {
      position: relative;
      display: inline-block;
      left: 100px;
      top:-10px;
      width: 55px;
      height: 28px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);

    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    p { margin:-10px;
        margin-left: 5px;
     }

  </style>
</head>

<body>
<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-6">
         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3><b>LMTech Insight</b></h3>
            </div>
            <div class="panel-body">
                <h4><b>You can Activate SMS Alerts for the following:</b></h4> <br/>
                      <p>Person</p>
                     <label class="switch">
                          <input type="checkbox" id="alert_switch0">
                          <span class="slider round"></span>
                      </label>

                      <p>Knife</p>
                      <label class="switch">
                          <input type="checkbox" id="alert_switch1">
                          <span class="slider round"></span>
                      </label>

                      <p>Handbag</p>
                      <label class="switch">
                          <input type="checkbox" id="alert_switch2">
                          <span class="slider round"></span>
                      </label>

                      <p>Bottle</p>
                      <label class="switch">
                          <input type="checkbox" id="alert_switch3">
                          <span class="slider round"></span>
                      </label>

                      <p>Dog</p>
                      <label class="switch">
                          <input type="checkbox" id="alert_switch4">
                          <span class="slider round"></span>
                      </label>

                      <p>Cat</p>
                      <label class="switch">
                          <input type="checkbox" id="alert_switch5">
                          <span class="slider round"></span>
                      </label>

                      <p>Car</p>
                      <label class="switch">
                          <input type="checkbox" id="alert_switch6">
                          <span class="slider round"></span>
                      </label>
                      <br>
                      {# when this button is clicked, current status of alerts will be saved in database #}
                      <button type="button" class="btn btn-primary" onclick="save_alerts()">Submit</button>
                      
                     <hr>
                    <p>
                        <h4><b>Visual Intelligence System:</b></h4>
                        <h4>It's a system to generate an insight or warning alert by analyzing real time video through camera.</h4>
                        <br />
                        <h4><b>Under Development:</b></h4>
                        <h4>Complete system to give alert or predict the incidences for various purposes.</h4>
                        <br />
                        <footer>&copy; 2018 Living Mind Technologies</footer>
                    </p>
            </div>
              </div>
        </div>

        <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                          <div class="panel panel-success">
                            <div class="panel-heading" style="background-color: green; color: white">
                              <h3><b>Results</b></h3>
                            </div>  

                            <div class="panel-body">
                              <input type="hidden" id="alerts" name="variable" value="{{ alert_states }}">
                              {# catch the values of alerts from server to display activated alerts #}

                              <input type="hidden" id="video" name="variable" value="{{ video_url }}">
                              {# video url for straming the video live #}

                              <table>
                                  <tr><th>PREDICTED CONCEPT</th><th>CONFIDENCE(%)</th></tr>
                                  <tr id="snapshot_url" onclick="ShowSnapshot()"><td id="concept1"></td><td id="probability1"></td></tr>
                                  <tr id="snapshot_url" onclick="ShowSnapshot()"><td id="concept2"></td><td id="probability2"></td></tr>
                                  <tr id="snapshot_url" onclick="ShowSnapshot()"><td id="concept3"></td><td id="probability3"></td></tr>
                                  <tr id="snapshot_url" onclick="ShowSnapshot()"><td id="concept4"></td><td id="probability4"></td></tr>
                                  <tr id="snapshot_url" onclick="ShowSnapshot()"><td id="concept5"></td><td id="probability5"></td></tr>
                                  <tr id="snapshot_url" onclick="ShowSnapshot()"><td id="concept6"></td><td id="probability6"></td></tr>
                                  <tr id="snapshot_url" onclick="ShowSnapshot()"><td id="concept7"></td><td id="probability7"></td></tr>
                              </table>
                              
                              <br> <a onclick="window.open('http://127.0.0.1:8000/admin/security_serveillance/snapshots/', '_blank')">Know more about people.</a>
                              <br><br>
                              <button type="button" class="btn btn-primary"  onclick="live_video()"><span class="glyphicon glyphicon-eye-open"></span>  Watch Live</button>
                              <a href="http://127.0.0.1:8000/accounts/logout/" class="btn btn-info btn-justified pull-right"><span class="glyphicon glyphicon-log-out"></span>  Log out</a>
                              <br><br>
                              <div id="iframeDisplay"></div> 
                              
                            
                              <script>

                              var snapshot_url = '';  
                              var isChecked = new Array()
                              var video_url = '';

                              function save_alerts()
                              {
                                // get the status of alerts
                                for(switch_number=0; switch_number<7; switch_number++)
                                {
                                  isChecked[switch_number] = document.getElementById("alert_switch"+switch_number).checked;
                                }
                                alert_status = isChecked.toString()

                                // post the status of alert to server
                                $.post("http://127.0.0.1:8000/", {"alerts": alert_status},function(response){
                                  alert(response)
                                });
                              }

                              function live_video()
                              { 
                                document.getElementById("iframeDisplay").innerHTML = '<iframe width="515" height="335"  scrolling="no" src='+video_url+'></iframe>'
                              }

                              function ShowSnapshot() 
                              { 
                                window.open(snapshot_url, '_blank');
                              }
                               
                              // following function will send get request to /predict along with alert status
                              // and receives the detected objects as well. So here data=analysis
                              function video_frame_check()
                              { 
                                $.get("http://127.0.0.1:8000/predict/", function(data){                                  
                                  snapshot_url = data[0].file_path    
                                  video_url = data[0].video_url                 
                                  document.getElementById("concept1").innerHTML = data[0].label
                                  document.getElementById("probability1").innerHTML = data[0].confidence
                                  document.getElementById("concept2").innerHTML = data[1].label
                                  document.getElementById("probability2").innerHTML = data[1].confidence
                                  document.getElementById("concept3").innerHTML = data[2].label
                                  document.getElementById("probability3").innerHTML = data[2].confidence
                                  document.getElementById("concept4").innerHTML = data[3].label
                                  document.getElementById("probability4").innerHTML = data[3].confidence
                                  document.getElementById("concept5").innerHTML = data[4].label
                                  document.getElementById("probability5").innerHTML = data[4].confidence
                                  document.getElementById("concept6").innerHTML = data[5].label
                                  document.getElementById("probability6").innerHTML = data[5].confidence
                                  document.getElementById("concept7").innerHTML = data[6].label
                                  document.getElementById("probability7").innerHTML = data[6].confidence
                                });
                              }

                              <!--setting the alert switch position according to the database values while loading the homepage-->
                              var alerts = JSON.parse(document.getElementById("alerts").value)
                              var video_url = JSON.parse(document.getElementById("video").value)
                              document.getElementById("alert_switch0").checked = (String(true) == alerts.Person);
                              document.getElementById("alert_switch1").checked = (String(true) == alerts.Knife);
                              document.getElementById("alert_switch2").checked = (String(true) == alerts.Handbag);
                              document.getElementById("alert_switch3").checked = (String(true) == alerts.Bottle);
                              document.getElementById("alert_switch4").checked = (String(true) == alerts.Dog);
                              document.getElementById("alert_switch5").checked = (String(true) == alerts.Cat);   
                              document.getElementById("alert_switch6").checked = (String(true) == alerts.Car);            
                              setInterval("video_frame_check()", 2000)
                              </script>
                            </div>
                          </div>
                        </div>
                </div>
        </div>
    </div>
</div>
</body>

</html>
